body{
    background-color: darkblue;
    background-image: url("files/background_image.JPG"); /* ◀ 파일 적용이 안 됨.*/
    background-size: 100px 100px;
    background-repeat: repeat-y;
    background-position: center;
}

#mobileMenu{
    opacity:0;
    padding:0;
    margin:0;
    width:0;
    height:0;
}

#mobileSubMenu{
    opacity: 0;
    height:0;
}

header, footer{
    font-family:Serif;
    font-weight:200px;
}

iframe{
    border:0;
}

header{
    width:100%;
    text-align: center;
    background-color: #0099FF;
    margin:0;
    padding:0;
}

header img{
    height:20%
}

#mainSection{
    width:100%;
    display:inline;
    padding:0px;
    margin:0px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#mainSection .left{
    border:3px solid black;
}

.left{
    width:10%;
    height:75%;
    background:white;
}

.right{
    width:88%;
    height:75%;
    background: white;
}


footer{
    width:100%;
    height:30%;
    background-color: skyblue;

    position:absolute;
    height:max-content;
}

footer hr{
    margin: 0;
    height:0.5em;
    background-color: #0099FF;
}

#footerTable_1{
    text-align: left;
    float:left;
}

#footerTable_1 p{
    font-size: 20px;
}

#footerTable_2 img{
    width:3em;
    height:3em;
}

#footerTable_2 img:hover{
    opacity: 0.5;
}

#footerTable_2{
    padding: 5% 25%;

    text-align: center;
    float:right;
}

/*~1500px*/
@media screen and (max-width:1500px){
    *{
        padding:0;
        margin:0;
    }

    header{
        height:auto;
        display:block;
    }

    header img{
        padding:1.5em;
    }


    #mobileMenu{
        opacity: 1;

        width:80%;
        height:auto;

        display:inline-table;

        margin-bottom: 10%;
    }

    #mobileMenu li{
        height:0;
    }

    #mobileMenu li a{
        text-decoration: none;
        color:black;
    }

    #mobileMenu h1{
        font-size:3em;
        width:100%;

        padding: 7.5% 0;
        margin-top: 10% 0;
        
        border:0.05em dotted;
        border-radius:20px;

        box-shadow:inset 0.2em 0.2em 0.3em 0.02em rgba(0,0,255,255);
    }

    #mobileMenu:hover #mobileSubMenu{
        opacity: 1;
        height:auto;

        border:3px solid;

        color:black;
        transition:0.3s;
    }

    #mobileMenu:hover h1{
        border: 3px solid black;
        border-radius: 10px;
        background:skyblue;

        padding:0px;

        box-shadow:inset 0 0;

        transition:0.3s;
    }

    #mobileMenu:hover li{
        height:auto;
    }

    #mobileSubMenu li{
        display:block;
        background:white;
        position:static;

        border-bottom: 5px solid;

        text-align:center;
        font-size:3em;
    }

    #mobileSubMenu li a{
        text-decoration: none;
        text-align: center;
    }

    #mobileSubMenu li:hover{
        background:black;
    }

    #mobileSubMenu li:hover a{
        color:white;
    }

    #leftWindow{
        opacity: 0;
        height:0;
        width:0;
    }

    #rightWindow{
        width:100%;
    }

    #footerTable_1{
        width:100%;
        margin: 5% 0;
    }

    

    footer p{
        font-size: 2em;
        text-align:center;
        font-weight:bolder;
    }

    #footerTable_2{
        padding:0;
        margin: 5% 0;
        width:100%;
    }

    footer img{
        width:5em;
        height:5em;
    }
}
